name: MSTest & Push to DockerHub

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  
  build_and_push:
    name: Build og push Docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    env:
      DOCKER_USER: ${{ secrets.DOCKER_USER }}
      IMAGE_NAME: go-portalservice
    steps:
      - uses: actions/checkout@v4

      - name: Set dynamic image version
        id: vars
        run: echo "IMAGE_VERSION=$(date +%Y%m%d)-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build the Docker image
        run: |
          docker build . -f GO-CustomerPortalService/Dockerfile \
          -t ${DOCKER_USER}/${IMAGE_NAME}:${IMAGE_VERSION} \
          -t ${DOCKER_USER}/${IMAGE_NAME}:latest

      - name: Push Docker image to Docker Hub
        run: |
          docker push ${DOCKER_USER}/${IMAGE_NAME}:${IMAGE_VERSION}
          docker push ${DOCKER_USER}/${IMAGE_NAME}latest
